[submodule "sub/chans"]
	path = sub/chans
	url = https://github.com/gregorybchris/chans.git
	branch = master
[submodule "sub/combust"]
	path = sub/combust
	url = https://github.com/gregorybchris/combust.git
	branch = main
[submodule "sub/force-graph"]
	path = sub/force-graph
	url = https://github.com/gregorybchris/force-graph.git
	branch = main
[submodule "sub/half-plane"]
	path = sub/half-plane
	url = https://github.com/gregorybchris/half-plane.git
	branch = master
[submodule "sub/triple-town"]
	path = sub/triple-town
	url = https://github.com/gregorybchris/triple-town.git
	branch = master
[submodule "sub/tsa"]
	path = sub/tsa
	url = https://github.com/gregorybchris/tsa.git
	branch = master
[submodule "sub/tutf-trends"]
	path = sub/tutf-trends
	url = https://github.com/gregorybchris/tutf-trends.git
	branch = master
[submodule "sub/base"]
	path = sub/base
	url = https://github.com/gregorybchris/base.git
[submodule "sub/jumbo-meal"]
	path = sub/jumbo-meal
	url = https://github.com/gregorybchris/jumbo-meal.git
[submodule "sub/big-life"]
	path = sub/big-life
	url = https://github.com/gregorybchris/big-life.git
[submodule "sub/orbit"]
	path = sub/orbit
	url = https://github.com/gregorybchris/orbit.git
