@font-face {
	font-family: "montserrat-light";
	src: url("Montserrat/Montserrat-Light.otf");
}

@font-face {
	font-family: "montserrat-regular";
	src: url("Montserrat/Montserrat-Regular.otf");
}

@font-face {
	font-family: "montserrat-bold";
	src: url("Montserrat/Montserrat-Bold.otf");
}

.blog-title-wrap {
    margin: 30px 30px 20px;
}

.blog-title {
    font-family: montserrat-bold;
    font-size: 30px;
}

.blog-posts-filter-wrap {
    margin: 10px 30px 20px;
}

.blog-posts-filter-input {
    border: 3px solid rgb(200, 200, 200);
    width: 300px;
    padding: 6px 10px;
    box-sizing: border-box;
    transition: 0.5s;
    outline: none;
    border-radius: 4px 0px 0px 4px;
    font-family: montserrat-bold;
    display: inline-block;
    vertical-align: top;
    border-right: none;
    font-size: 14px;
}

.blog-posts-filter-input:focus {
    background-color: rgb(240, 240, 240);
}

.blog-posts-filter-clear-button {
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-family: montserrat-bold;
    padding: 6px 10px;
    background-color: rgb(200, 200, 200);
    display: inline-block;
    border: 3px solid rgb(200, 200, 200);
    border-radius: 0px 4px 4px 0px;
    vertical-align: top;
    border-left: none;
    box-sizing: border-box;
    transition: .2s;
}

.blog-posts-filter-clear-button:hover {
    background-color: rgb(170, 170, 170);
    border-color: rgb(185, 185, 185);
    cursor: pointer;
}

.blog-post {
    box-sizing: border-box;
    /* background-color: rgb(240, 240, 240); */
    border: 4px solid rgb(230, 230, 230);
    border-radius: 6px;
    padding: 20px 20px;
    margin: 0px 100px 20px 100px;
}

.blog-post-title-wrap {
    margin: 0px 0px 4px;
}

.blog-post-title {
    display: inline-block;
    font-family: montserrat-bold;
    font-size: 23px;
    margin-right: 10px;
}

.blog-post-link {
    text-decoration: none;
    color: rgb(50, 50, 50);
    transition: 0.2s; 
}

.blog-post-link:hover {
    color: rgb(120, 120, 120);
}

.blog-post-date {
    display: inline-block;
    font-size: 23px;
    font-family: montserrat-regular;
    color: rgb(200, 200, 200);
}

.blog-post-tags-wrap {
    margin: 3px 0px 8px;
}

.blog-post-tag {
    display: inline-block;
    padding: 5px 13px 8px;
    background-color: rgb(200, 200, 230);
    margin: 2px 3px;
    border-radius: 5px;
    font-family: montserrat-light;
    font-size: 14px;
    transition: .2s;
}

.blog-post-tag:hover {
    cursor: pointer;
    background-color: rgb(180, 180, 210);
}

.thumbnail-wrap {
    margin: 10px 10px 0px;
}

.blog-post-thumbnail {
    border-radius: 4px;
    width: 250px;
}