.header {
  padding: 15px 50px;
  background-color: rgb(26, 26, 26);
}

.title {
  font-size: 30px;
  font-family: "Nunito";
  color: rgb(240, 240, 240);
}

#canvas {
  width: 100%;
  height: 550px;
  outline: none;
}
