/* ~ ~ ~ ~ ~ ~ ~ Fonts ~ ~ ~ ~ ~ ~ ~ */

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/montserrat/Montserrat-Bold.otf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/montserrat/Montserrat-Regular.otf");
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/montserrat/Montserrat-Light.otf");
}

/* ~ ~ ~ ~ ~ ~ ~ General ~ ~ ~ ~ ~ ~ ~ */

* {
    font-family: "Montserrat-Light";
    box-sizing: border-box;
}

::-webkit-input-placeholder {
    color: rgb(240, 240, 240);
}
::-moz-placeholder {
    color: rgb(240, 240, 240);
}
:-ms-input-placeholder {
    color: rgb(240, 240, 240);
}
:-moz-placeholder {
    color: rgb(240, 240, 240);
}

::-moz-selection {
    background: rgb(200, 60, 50);
    color: rgb(250, 250, 250);
}
::selection {
	background: rgb(200, 60, 50);
    color: rgb(250, 250, 250);
}

:focus {
	outline: none;
}

/* ~ ~ ~ ~ ~ ~ ~ Layout ~ ~ ~ ~ ~ ~ ~ */

#page {
    min-width: 700px;
}

#content {
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - 200px);
    padding: 40px 5%;
    vertical-align: top;
    text-align: center;
    margin-left: 200px;
}

/* ~ ~ ~ ~ ~ ~ ~ Menu ~ ~ ~ ~ ~ ~ ~ */

#menu {
    position: fixed;
    display: inline-block;
    padding: 50px 25px 0px 35px;
    width: 200px;
    box-sizing: border-box;
    vertical-align: top;
}

#roles {
    width: 100%;
}

.roles-text {
    color: rgb(170, 170, 170);
    font-size: 12px;
    display: block;
    line-height: 15px;
    text-indent: 2px;
}

#menu-signature {
    width: 100%;
}

#nav {
    width: 100%;
    margin-top: 35px;
}

.nav-link {
    text-decoration: none;
    color: rgb(130, 130, 130);
    display: block;
    font-size: 14px;
    transition: color 300ms;
    padding: 8px;
    font-family: "Montserrat-Regular";
    text-transform: uppercase;
}

.nav-link:active, .nav-link:visited {
    color: rgb(130, 130, 130);
}

.nav-link:hover {
    color: rgb(50, 50, 50);
}

.nav-link.selected {
    color: rgb(50, 50, 50);
}

#social {
    margin-top: 40px;
    text-align: center;
}

.social-link {
    text-decoration: none;
    padding: 0px 2px;
    display: inline-block;
}

.social-icon {
    width: 20px;
}

#copyright {
    position: fixed;
    bottom: 10px;
    left: 43px;
    font-size: 10px;
    color: rgb(210, 210, 210);
    transition: color 1s;
    cursor: default;
}

#copyright:hover {
    color: rgb(110, 110, 110);
}

/* ~ ~ ~ ~ ~ ~ ~ Home ~ ~ ~ ~ ~ ~ ~ */

#portrait-wrap {
    width: calc(75% + 50px);
    text-align: center;
}

#portrait {
    width: 100%;
}

#portrait-text-wrap {
    background-color: rgb(10, 10, 10);
    padding: 8px 20px;
    box-sizing: border-box;
    margin-top: -2px;
    width: 100%;
}

.portrait-text {
    color: rgb(240, 240, 240);
    font-size: 11px;
    font-family: "Montserrat-Regular";
}

#intro {
    margin-top: 40px;
    text-align: left;
}

.intro-text {
    line-height: 26px;
    font-size: 15px;
    color: rgb(40, 40, 40);
    display: block;
    margin-bottom: 17px;
}

.intro-link {
    text-decoration: none;
    color: rgb(10, 10, 10);
    font-family: "Montserrat-Regular";
    transition: color 300ms;
}

.intro-link:hover {
    color: rgb(200, 60, 50);
}

/* ~ ~ ~ ~ ~ ~ ~ Bio ~ ~ ~ ~ ~ ~ ~ */

.bio-section {
    text-align: left;
    margin: 10px 0px;
}

.bio-section-title {
    font-family: "Montserrat-Regular";
    font-size: 25px;
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    /*color: #D04030;*/
}

.bio-section-hr {
    border: 0px;
    height: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 20px 50px 50px;
}

/* ~ ~ About Me ~ ~ */

.bio-about-text {
    line-height: 26px;
    font-size: 15px;
    color: rgb(40, 40, 40);
    display: block;
    margin-bottom: 17px;
}

/* ~ ~ Work Experience ~ ~ */

.bio-job-wrap {
    width: 50%;
    padding: 30px 20px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.bio-job-logo {
    width: 80%;
    margin-bottom: 8px;
}

.bio-job-year {
    font-family: "Montserrat-Regular";
    font-size: 17px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    margin: 7px 0px;
    letter-spacing: 2px;
}

.bio-job-title {
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    margin: 7px 0px;
    letter-spacing: 2px;
}

.bio-job-text {
    font-size: 13px;
    display: block;
    text-transform: uppercase;
    margin: 2px 0px;
}

/* ~ ~ Course Work ~ ~ */

.classes-block {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding: 10px 20px;
}

.classes-block-title {
    font-family: "Montserrat-Regular";
    font-size: 15px;
    margin: 0px 0px 10px;
}

.classes-hr {
    border: 0px;
    height: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px 50px 5px 0px;
}

.classes-list {
    text-align: left;
    margin-top: 10px;
}

.class-name {
    margin: 0px 0px 5px;
    font-size: 12px;
    list-style-type: square;
    text-indent: -5px;
}

/* ~ ~ ~ ~ ~ ~ ~ Projects ~ ~ ~ ~ ~ ~ ~ */

.bio-section {
    text-align: left;
    margin: 10px 0px;
}

.bio-section-title {
    font-family: "Montserrat-Regular";
    font-size: 25px;
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.bio-section-hr {
    border: 0px;
    height: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 20px 50px 50px;
}

/* ~ ~ About Me ~ ~ */

.projects-section {
    text-align: left;
    margin: 10px 0px;
}

.projects-section-title {
    font-family: "Montserrat-Regular";
    font-size: 25px;
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    /*color: #D04030;*/
}

.projects-section-hr {
    border: 0px;
    height: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 20px 50px 50px;
}

.projects-about-text {
    line-height: 26px;
    font-size: 15px;
    color: rgb(40, 40, 40);
    display: block;
    margin-bottom: 17px;
}

.project-wrap {
    margin: 15px 10px 45px;
}

.project-header {}

.project-title {
    font-size: 19px;
    display: inline-block;
    vertical-align: top;
    color: rgb(20, 20, 20);
}

.project-go-button {
    font-size: 14px;
    vertical-align: bottom;
    float: right;
    color: rgb(120, 120, 120);
    padding: 4px 8px;
    transition: color 300ms;
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.project-go-button:hover {
    color: rgb(200, 60, 50);
}

.project-date {
    display: block;
    font-size: 13px;
    color: rgb(180, 180, 180);
    margin: 3px 0px 10px;
}

.project-description {
    color: rgb(110, 110, 110);
    display: block;
    line-height: 17px;
    font-size: 13px;
}

.project-text-link {
    text-decoration: none;
    color: rgb(50, 50, 50);
    transition: color 300ms;
    font-weight: bold;
}

.project-text-link:active, .project-text-link:visited {
    color: rgb(50, 50, 50);
}

.project-text-link:hover {
    color: rgb(200, 60, 50);
}

/* ~ ~ ~ ~ ~ ~ ~ Contact ~ ~ ~ ~ ~ ~ ~ */

.contact-section {
    text-align: left;
    margin: 10px 0px;
}

.contact-section-title {
    font-family: "Montserrat-Regular";
    font-size: 25px;
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.contact-about-text {
    line-height: 26px;
    font-size: 15px;
    color: rgb(40, 40, 40);
    display: block;
    margin-bottom: 30px;
}

/*color: rgb(200, 60, 50);*/

.contact-form-wrap {
	text-align: center;
	border: 3px solid rgb(200, 60, 50);
	width: 380px;
	height: 280px;
	padding-top: 20px;
	margin: 80px auto 0px auto;
}

.contact-text-field, .contact-text-area {
    font-family: "Montserrat-Regular";
	transition: background ease .3s;
	background: rgb(220, 80, 70);
	border: none;
	padding: 6px 10px;
	display: block;
	width: 300px;
	margin: 8px auto;
	color: rgb(255, 255, 255);
	font-size: 14px;
}

.contact-text-field:hover, .contact-text-area:hover {
	background: rgb(210, 70, 60);
}

.contact-text-field:focus, .contact-text-area:focus {
	background: rgb(200, 60, 50);
}

.contact-text-area {
	resize: none;
	height: 120px;
}

.contact-button {
    font-family: "Montserrat-Regular";
	transition: background ease .3s;
    padding: 6px 10px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    background: rgb(220, 80, 60);
    border: none;
    display: inline-block;
    width: 100px;
    margin-bottom: 140px;
}

.contact-button:hover {
	background: rgb(240, 100, 90);
    cursor: pointer;
}









/* */
